fastapi[standard]
pydantic-settings
sqlalchemy
alembic
asyncpg
openai
langgraph
langchain-openai
fastapi-users[sqlalchemy]
fastapi-users-db-sqlalchemy
python-multipart
pgvector
redis
langgraph-checkpoint-postgres
psycopg-pool
psycopg[binary]
langchain
jsonschema
pypdf
tiktoken